<!-- TITLE -->

<div class="mb-40 mt-40">
  <h1>Home</h1>
</div>

<!-- SEARCH FORM -->
<div>
  <!-- START LINKS -->
    <div>
        <a routerLink="/staffs" routerLinkActive="active">Link to List StaffList</a>
    </div>
    <div>
        <a routerLink="/fmailys" routerLinkActive="active">Link to List FmailyList</a>
    </div>
    <div>
        <a routerLink="/staffs/{id}" routerLinkActive="active">Link to List StaffEdit</a>
    </div>
    <div>
        <a routerLink="/fmailys/{id}" routerLinkActive="active">Link to List FmailyEdit</a>
    </div>
 <!-- END LINKS -->
</div>